.cards {
  margin: 40px 0 0;
  padding: 0;
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(2, 1fr);
  list-style: none;
  max-width: 330px;
  box-sizing: border-box;
}

@media screen and (max-width: 675px) {
  .cards {
    margin: 20px 0 0;
    gap: 14px 10px;
    max-width: 265px;
  }
}
