.body {
  font-family: "Inter", "Arial", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  background-color: #0e1014;
  color: #e4e5ea;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

@media screen and (max-width: 425px) {
  .body {
    overflow: hidden;
  }
}
