.background__purple-light {
  z-index: -2;
  position: absolute;
  width: 259px;
  height: 259px;
  left: 602px;
  top: -154px;
  background: #833ab4;
  opacity: 0.5;
  filter: blur(196px);
}

@media screen and (max-width: 860px) {
  .background__purple-light {
    left: 258px;
    top: 107px;
  }
}
