.header {
  width: 100%;
  height: 73px;
  max-width: 1140px;
  min-width: 320px;
  margin: 46px auto 0;
  position: relative;
}

@media screen and (max-width: 425px) {
  .header {
    height: 445px;
    background-image: url(../../images/background-mobile.png);
    background-size: cover;
  }
}
