.header {
  width: 100%;
  max-width: 1140px;
  min-width: 320px;
  margin: 46px auto 0;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media screen and (max-width: 950px) {
  .header {
    margin: 0 auto;
  }
}
