.background__red-ball {
  z-index: -2;
  position: absolute;
  width: 83px;
  height: 83px;
  left: 519px;
  top: 83px;

  background: radial-gradient(
    64% 64% at 27.25% 26.5%,
    rgba(255, 208, 208, 0.536) 0%,
    rgba(212, 93, 93, 0.264) 59.67%,
    rgba(167, 49, 49, 0.248) 78.59%,
    rgba(130, 25, 25, 0.248) 100%
  );
  box-shadow: 3px 6px 27px -10px rgba(223, 125, 125, 0.25);
  backdrop-filter: blur(2px);
  border-radius: 50%;
}

@media screen and (max-width: 650px) {
  .background__red-ball {
    width: 43px;
    height: 43px;
    left: 29px;
    top: 402px;
  }
}
