.background__glass {
  display: none;
  position: absolute;
  z-index: -1;
}

@media screen and (max-width: 950px) {
  .background__glass {
    display: inherit;
    width: 320px;
    height: 445px;
    left: 0px;
    top: 55px;
    background: radial-gradient(
        238.53% 189.02% at 3.2% 3.49%,
        rgba(255, 246, 233, 0.1) 0%,
        rgba(26, 29, 35, 0.1) 26.62%,
        rgba(26, 29, 35, 0.1) 52.1%,
        rgba(26, 29, 35, 0.01) 70.17%,
        rgba(26, 29, 35, 0) 100%
      );
    backdrop-filter: blur(7.5px);
  }
}
