.footer__column-heading {
  margin: 0;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #656566;
}

@media screen and (max-width: 550px) {
  .footer__column-heading {
    font-size: 12px;
    line-height: 15px;
  }
}
