.footer {
  margin: 0 auto;
  padding: 55px 0 0;
  display: flex;
  flex-direction: column;
  flex: 0 0 auto;
  width: 100%;
  max-width: 1140px;
  min-width: 320px;
}

@media screen and (max-width: 550px) {
  .footer {
    padding: 45px 0 0;
  }
}
