.card {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: end;
  gap: 6px;
}

@media screen and (max-width: 675px) {
  .card {
    align-items: flex-start;
    text-align: start;
  }
}
